body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  background-color: white;
}
.heading {
  display: grid;
  grid-template-columns: 310px 1fr 140px;
  justify-items: stretch;
  background-color: #00a041;
}
.content {
  display: grid;
  grid-template-columns: 270px 1fr;
  justify-items: stretch;
}

.sidebar {
  padding: 20px 15px;
  background-color: rgb(244, 245, 247);

  min-height: 500px;
  width: 270px;
}

.sidebar:hover {
  border: "solid 3px yellow";
  background-color: "grey";
  width: "120%";
}
.menutop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  grid-gap: 20px;
  padding: 5px;
  border-bottom: solid 1px #d9d9d9;
}
.menubottom {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 140px;
  justify-items: stretch;
  grid-gap: 30px;

  padding: 10px 5px 0 10px;
  border-bottom: solid 1px #d9d9d9;
}
.resultnumber {
  margin: 5px 0 0 20px;
  display: grid;
  grid-template-columns: 60px 1fr 60px 1fr;
  justify-items: stretch;
  grid-gap: 15px;
}
.hideitem {
  visibility: hidden;
}
.checkbox-green {
  min-width: 50px;
}
.checkbox-green .ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: #5ebd74;
  border-color: #5ebd74;
  transform: scale(1.5);
}

.checkbox-green .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #5ebd74;
}
.checkbox-green .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-input {
  transform: scale(1.5);
}
.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: #5ebd74;
}

.uploadform {
  text-align: left;
}
.geneimg {
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
li {
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  list-style-type: none;
}

li:hover {
  background-color: gray;
}

.contextmenu {
  font-size: 14px;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 0 5px 0;
  width: 150px;
  height: auto;
  margin: 0;
  /* use absolute positioning  */
  position: absolute;
  list-style: none;
  box-shadow: 0 0 20px 0 #ccc;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.spinwheel {
  position: absolute;
  top: 50%;
  left: 300px;
  z-index: 10000;
}
.pressed {
  background-color: grey;
}
.box {
  margin: 20px 0 20px 0;
}
.sidetitle {
  border-bottom: solid 1px #dfdfdf;
  margin-bottom: 10px;
}
.sidemenu {
  background-color: white;
  clear: both;
}
.sidemenu1 {
  width: 220px;
  height: 210px;
  background-color: white;
  clear: both;
}
.sidemenu1 .sidemenu:hover {
  opacity: 0.7;
}
.sideclicked {
  border: solid 1px grey;
  background-color: white;
}

.uploadLabel {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.file-input-wrapper {
  margin: 2px;
  overflow: hidden;
  position: relative;
  width: 618px;
  cursor: pointer;
}

.file-input-wrapper > input[type="file"] {
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.file-input-wrapper > span {
  margin-left: 10px;
  font-size: 18px;
}
.file-input-wrapper > label {
  margin-left: 10px;
  font-size: 18px;
}
.file-input-wrapper > input[type="text"] {
  clear: both;
  background-color: #d9d9d9;
  border-radius: 20px;
  display: inline-block;
  height: 54px;
  margin: 0 0 0 15px;
  padding: 0px 0 0 5px;
  width: 321px;
}

.pdf {
  font-family: sans-serif;
  text-align: center;
}
.title {
  margin: 10px;
  font-size: 18px;
}
.fileInput {
  width: 100%;
  padding: 12px 20px !important;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: gainsboro !important;
  color: black !important;
  font-size: 16px !important;
}
.countInput {
  min-width: 50px;
  height: 27px;
  text-align: center;
  margin: -2px 0;
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: gainsboro !important;
}
#normal {
  color: green;
}
#abnormal {
  color: red;
}
#stage-parent {
  position: relative;
}

#noimg {
  width: 100px;
  height: 100px;

  position: fixed;
  top: 40%;
  left: 40%;
}

/* checkbox */
